h1{
  color: #553739;
  text-align: center;
  font-size: 72px;
  font-family: 'Georgia', serif;
}

body {
  background-color: #dcd7d0;
}

hr {
  height: 30px;
  width: 30px;
  background: #553739;
  color: #553739;
  transform: rotate(45deg);
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  color: #553739;
  text-align: center;
  font-size: 24px;
  font-family: 'Georgia', serif;
}

h3 {
  color: #553739;
  text-align: center;
  font-size: 18px;
  font-family: 'Georgia', serif;
}

p {
  color: #0b4f6c;
  text-align: center;
  
}

a {
  font-family: 'Georgia', serif;
  font-size: 22px;
  text-align: center;
}
a:link {color: #024369;}
a:visited { color: #828687;}
a:hover { color: #42bdff;}
a: active { color: #0b3aa8;}

.contact-links {
  color: #42bdff;
  font-size: 18px;
}

body {
  margin-left: 150px;
  margin-right: 150px;
}